    <!-- Navigation Bar -->
    <nav class="bg-white shadow-md  mb-6">
        <div class="container mx-auto px-4">
          <div class="flex items-center justify-between h-16">
            
            <!-- Logo and Home Link -->
            <a href="/checklists">
              <img src="/img/default.png" alt="Company Logo" class="h-64 w-auto md:h-52 sm:h-44">
            </a>
            
            <!-- Logout Button -->
            <a href="/logout" class="text-blue-500 hover:text-blue-600 border border-blue-500 px-3 py-1 rounded">Logout</a>
          </div>
        </div>
      </nav>